<footer id="footer">
  <div class="logo small"><a href="/">The Monarch Network</a></div>
  <nav id="footerNav">
    <ul>
      <li class="sections">
        <ul>
          <li class="topLI"><span class="alt-font">Monarch Shells</span></li>
          <li><%= link_to "About Us", about_path, :class => "alt-font" %></li>
          <li><%= link_to "What We Provide", services_path, :class => "alt-font" %></li>
          <li><%= link_to "FAQ", faq_path, :class => "alt-font" %></li>
          <li><%= link_to "Blog", "https://blog.gomonar.ch", :class => "alt-font" %></li>
          <li><%= link_to "Donate", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AQT7MWQPN48S4", :class => "alt-font" %></li>
        </ul>
      </li>
      <li class="sections">
        <ul>
          <li class="topLI"><span class="alt-font">Resources</span></li>
          <li><%= link_to "Security", security_path, :class => "alt-font" %></li>
          <li><%= link_to "Terms of Use", terms_path, :class => "alt-font" %></li>
          <li><%= link_to "Privacy Policy", privacy_path, :class => "alt-font" %></li>
          <li><%= link_to "Acceptable Use Policy", aup_path, :class => "alt-font" %></li>

        </ul>
      </li>
      <li class="sections">
        <ul>
          <li class="topLI"><span class="alt-font">Support</span></li>
          <li><%= link_to "Join the Community", "https://kiwiirc.com/nextclient/irc.freenode.net?nick=kiwi?&theme=cli#2ProShells", :class => "alt-font" %></li>
          <li><%= link_to "Status Page", "http://status.gomonar.ch", :class => "alt-font" %></li>
          <li><%= link_to "Changelog", changelog_path, :class => "alt-font" %></li>
          <li><%= link_to raw("Mobile App <span class=\"blue\">(coming soon)</span>"), "javascript:void(0)", :class => "alt-font" %></li>
        </ul>
      </li>
      <li class="social"><a href="https://github.com/2ProShells" style="height: 26.5px;"><img src="https://ltscdn.m6.nz/shell/main/images/logos/companies/githubGray.svg" height="13" width="13"></a>
        <a href="http://www.facebook.com/2ProShells"><i class="icon social_facebook"></i></a></li>
    </ul>
  </nav>
    <div class="bottompart">
    <div class="copyright alt-font">&copy; 2017 Monarch Solutions | ShellManager Version <%= Time.now.strftime("%Y%m%d") %></div>
    <div class="pshq"><i class="icon icon_pin"></i> Christchurch, NZ</div>
  </div>
  <a href="#top" class="slide-round">
    <div class="overflow"><svg viewbox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve" class="off"><polygon points="23.5,28.2 31.3,36 32,35.3 24.2,27.5 32,19.7 31.3,19 23.5,26.8 22.8,27.5"></polygon></svg><svg viewbox="0 0 56 56" style="enable-background:new 0 0 56 56;"
        xml:space="preserve" class="on"><polygon points="23.5,28.2 31.3,36 32,35.3 24.2,27.5 32,19.7 31.3,19 23.5,26.8 22.8,27.5"></polygon></svg></div>
  </a>
  <div class="clearfix"></div>
</footer>
<div id="overlay"></div>
<link href="https://ltscdn.m6.nz/shell/main/stylesheets/ant.rate.css" rel="stylesheet">
</div>
</body>
</html>
