<% content_for :console, 1 %>
<% content_for :loggedin, 1 %>
<% content_for :page_class, "teamWizard teamWizardDARK mobile js" %>
<% content_for :account, 1 %>

<section id="content"><a name="content"></a>
  <div id="PSBUTTONCONTAINER"></div>
  <div id="CONSOLE">
    <div data-reactroot="">
      <div class="tTop">
        <div style="display: flex;">
          <div style="display: flex;"><a href="/"><img src="https://ltscdn.m6.nz/metro/assets/images/metro_white.png" class="miniLogo" style="cursor: pointer;"></a></div><br></div>
        <div class="tHeader">
          <h1><!-- react-text: 10 -->Console<!-- /react-text --><!-- react-text: 11 --> <!-- /react-text --><span class="subTitle"></span></h1></div>
          <div id="PSBUTTON" class="noselect loaded">
            <div class="accountName bold"><span class=""><% if ((@current_user[:first_name].present?) && (@current_user[:last_name].present?)) %><%= @current_user[:first_name] %> <%= @current_user[:last_name] %><% else %><%= @current_user[:email] %><% end %></span></div>
            <div class="gravContainer"><%= image_tag gravatar(@current_user[:email], 200), :class => "gravatarImg2" %></div>
            <div class="psmenu">
              <ul role="menu" class="dropdown-menu profile-dropdown" style="position: relative;">
                <% if @current_user[:permission_level] <= 2 %>
                <li style="margin-top: 0px;"><a href="<%= users_path %>" class="clearfix" style="cursor: pointer;"><span class="pull-left"><i class="fa fa-shield"></i></span><span class="m-l-5">Administration</span></a></li>
                <% end %>
                <li style="margin-top: 0px;" id="logoutButton"><a class="clearfix" style="cursor: pointer;"><span class="pull-left"><i class="pg-power"></i></span><span class="m-l-5">Logout</span></a></li>

              </ul>
            </div>
          </div>
      </div>
      <div style="margin: auto; max-width: 900px; padding: 0px 30px 30px;">
        <%= render 'partials/layout/console_menu' %>
        <div class="row">
          <div class="col-md-12 tContent"><span></span>
            <div>
              <div>
                <div class="">
                  <div class="col-sm-6">
                    <div>
                      <h2><span class="semi-bold">Your </span><!-- react-text: 78 -->Information<!-- /react-text --></h2>
                      <div>
                        <h4><% if (@current_user[:first_name] != nil) && (@current_user[:last_name] != nil) %><span id="infoText">Update your personal details here.</span><% else %><span style="color: red;font-weight: 700;">Please fill this out</span><% end %></h4></div><br><span></span>
                      <form id="userProfile">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group"><label>First Name</label><input type="text" name="firstName" class="input-lg form-control" <% if @current_user[:protected] %>disabled<% end %>  style="" placeholder="<%= @current_user[:first_name] %>"></div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group"><label>Last Name</label><input type="text" name="lastName" class="input-lg form-control" <% if @current_user[:protected] %>disabled<% end %>  placeholder="<%= @current_user[:last_name] %>"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12" style="padding-right: 0px;">
                            <div class="form-group"><label>Email</label><input type="text" name="email" class="input-lg form-control" placeholder="<%= @current_user[:email] %>" disabled style="max-width: 100%;"></div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group"><button type="submit" id="updProfile" class="pull-left hollow medium blue m-t-20"><span class="innerSpinner"></span>Update Profile</button></div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </form>
                    </div><br><br>
                    <div>
                      <h2><span class="semi-bold">Security</span><!-- react-text: 115 --> settings<!-- /react-text --></h2>
                      <div style="height: 40px;">
                        <h4>Manage security features</h4></div>
                      <h5><!-- react-text: 119 -->Two-factor authentication: <!-- /react-text --><strong id="2FAstatus"></strong></h5><span></span>
                      <div id="mfa_qrcode_box"></div>
                      <form id="mfaLoginForm">
                        <div>
                          <div class="form-group" id="mfaFormEnableBox">
                            <label>Scan barcode and enter 6-digit Passcode</label>
                            <input type="text" id="mfa_qrcode_token" name="mfa_qrcode_token" required="" autocomplete="off" class="input-lg form-control form-control">
                            <button
                              type="submit" id="en2FA" class="pull-left hollow medium purple m-t-20"><span class="innerSpinner"></span></button>
                          </div>
                        </div>
                      </form>
                    </div><br><br><br></div>
                  <div class="col-sm-6">
                    <div>
                      <h2><span class="semi-bold">Update </span><!-- react-text: 137 -->Password<!-- /react-text --></h2>
                      <div style="height: 120px;">
                        <h4><span id="passwordText">Make sure you have a good strong password. We recommend 8 characters or more.</span></h4></div><br><span></span>
                      <form id="userPassword">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div style="min-height: 4em;"><label>New Password</label><input type="password" class="input-lg form-control" name="passwordConfirmed" value="" placeholder="New Password" style="max-width: initial; "></div>
                            </div>
                          </div>
                        </div>
                        <div class="row" id="passwordUpdateQRCodeMFALoginTokenBox" style="display: none;">
                          <div class="form-group">
                            <div style="min-height: 4em;"><label>Two-Factor Passcode</label><input type="text" class="input-lg form-control" name="QRCodeMFALoginToken" value="" placeholder="Two-Factor Passcode" style="max-width: initial;"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group"><button type="submit" id="updPassword" class="pull-left hollow medium blue m-t-20"><span class="innerSpinner"></span>Update Password</button></div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </form><br><br>
                      <div>
                        <h2><span class="semi-bold">API</span><!-- react-text: 115 --> settings<!-- /react-text --></h2>
                        <div style="height: 40px;">
                          <h4>Manage your API key</h4></div>
                        <h5><!-- react-text: 119 -->Current API key: <!-- /react-text --><strong><span style="color: orange;font-size: 15px"><br><%= @current_user[:api_key] %></span></strong><strong><span style="color: red;font-size: 15px"><br>WARNING: Clicking below will log you out!</span></strong></h5><span></span>
                        <form id="keyLoginForm">
                          <div>

                            <div class="form-group" id="refreshFormEnableBox">
                              <button
                                type="submit" id="refreshKey" class="pull-left hollow medium pink m-t-20"><span class="innerSpinner"></span>Refresh Key</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                </div>
              </div>
            </div></div>
        </div>
      </div>
      <div class="mapcontainer "></div>
    </div>
  </div>
</section>
<script>
$.ajax({
      type: 'GET',
      url: 'https://api.id.m6.nz/api/v1/keys',
      headers: {
          "Authorization": "Bearer <%= @current_user[:api_key] %>"
      },
      success: function(data){
    if(data.tfa_enabled == false){
      $("#en2FA").html("<span class=\"innerSpinner\"></span>Enable Two-Factor Authentication")
      $("#2FAstatus").html("<span style=\"color: red\">off</span>")
      msg = '<img src="data:image/png;base64,'+data.image+'" /><div id="2fatext"><br><br>Secret: '+data.tfa_key+'<br><br></div>'
      $(msg).prependTo('#mfa_qrcode_box')
      $("#mfaFormEnableBox > label").html("Scan barcode and enter 6-digit Passcode")
      $("#mfa_qrcode_token").val("")
    } else {
      $("#en2FA").html("<span class=\"innerSpinner\"></span>Disable Two-Factor Authentication")
      $("#2FAstatus").html("<span style=\"color: green\">on</span>")
      $("#mfaFormEnableBox > label").html("Enter 6-digit code to disable 2FA")
      $("#mfa_qrcode_token").val("")
    }
  }
})
$(document).on('click', '#en2FA', function(e) {
  e.preventDefault();
  $(this).find('.innerSpinner').addClass('activeSpinning');
  $(this).prop("disabled", true);
  var prop = this;
  $.ajax({
        type: 'POST',
        url: 'https://api.id.m6.nz/api/v1/multifactor',
        headers: {
            "Authorization": "Bearer <%= @current_user[:api_key] %>"
        },
        data: JSON.stringify({
          code: $("#mfa_qrcode_token").val()
        }),
        success: function(data){
          if (data.status == "ok"){
            $("#mfa_qrcode_box > img").remove();
            $("#2fatext").remove();
            $(prop).find('.innerSpinner').removeClass('activeSpinning');
            $(prop).prop("disabled", false);
            $.ajax({
                  type: 'GET',
                  url: 'https://api.id.m6.nz/api/v1/keys',
                  headers: {
                      "Authorization": "Bearer <%= @current_user[:api_key] %>"
                  },
                  success: function(data){
                if(data.tfa_enabled == false){
                  $("#en2FA").html("<span class=\"innerSpinner\"></span>Enable Two-Factor Authentication")
                  $("#2FAstatus").html("<span style=\"color: red\">off</span>")
                  msg = '<img src="data:image/png;base64,'+data.image+'" /><div id="2fatext"><br><br>Secret: '+data.tfa_key+'<br><br></div>'
                  $(msg).prependTo('#mfa_qrcode_box')
                  $("#mfaFormEnableBox > label").html("Scan barcode and enter 6-digit Passcode")
                  $("#mfa_qrcode_token").val("")
                } else {
                  $("#en2FA").html("<span class=\"innerSpinner\"></span>Disable Two-Factor Authentication")
                  $("#2FAstatus").html("<span style=\"color: green\">on</span>")
                  $("#mfaFormEnableBox > label").html("Enter 6-digit code to disable 2FA")
                  $("#mfa_qrcode_token").val("")
                }
              }
            })
          } else {
            $(prop).find('.innerSpinner').removeClass('activeSpinning');
            $(prop).prop("disabled", false);
            $("#mfa_qrcode_token").val("")
          }
      }
    })
});
$(document).on('click', '#updProfile', function(e) {
  e.preventDefault();
  $(this).find('.innerSpinner').addClass('activeSpinning');
  $(this).prop("disabled", true);
  var prop = this;

  $.ajax({
    type: 'PATCH',
    url: 'https://api.id.m6.nz/api/v1/users/<%= @current_user[:email] %>',
    headers: {
        "Authorization": "Bearer <%= @current_user[:api_key] %>"
    },
    data: JSON.stringify({user: {
      first_name: $('input[name=firstName]').val(),
      last_name: $('input[name=lastName]').val()
    }}),
    success: function(data){
      if(data.user_updated == true){
        $('.accountName.bold > span').prop('placeholder', data.first_name+' '+data.last_name);
            $('input[name=firstName]').prop('placeholder', data.first_name);
            $('input[name=lastName]').prop('placeholder', data.last_name);
            $('.accountName.bold > span').val('');
            $('input[name=firstName]').val('');
            $('input[name=lastName]').val('');
          $.ajax({
              type: 'GET',
              url: 'https://api.id.m6.nz/api/v1/details/<%= @current_user[:email] %>',
              headers: {
                  "Authorization": "Bearer " + apiKey
              },
              success: function (data) {
                  $.ajax({
                      type: 'POST',
                      url: '/account/login',
                      data: JSON.stringify(data.user_details[0]),
                      dataType: 'json',
                      headers: {
                          "Authorization": "Bearer " + apiKey
                      }
                  })
              }
          })
            $('#infoText').html('Congrats! Profile updated.');
            setTimeout(function(){
              $('#infoText').html('Update your personal details here.');
            }, 3000);
            $(prop).find('.innerSpinner').removeClass('activeSpinning');
            $(prop).prop("disabled", false);
      } else {
        $('#infoText').html('Unable to update profile');
            setTimeout(function(){
              $('#infoText').html('Update your personal details here.');
            }, 3000);
        $(prop).find('.innerSpinner').removeClass('activeSpinning');
        $(prop).prop("disabled", false);
      }
    }
  })
})

$(document).on('click', '#updPassword', function(e) {
  e.preventDefault();
  $(this).find('.innerSpinner').addClass('activeSpinning');
  $(this).prop("disabled", true);
  var prop = this;

  $.ajax({
    type: 'PATCH',
    url: 'https://api.id.m6.nz/api/v1/users/<%= @current_user[:email] %>',
    headers: {
        "Authorization": "Bearer <%= @current_user[:api_key] %>"
    },
    data: JSON.stringify({user: {
      password: $('input[name=passwordConfirmed]').val()
    }}),
    success: function(data){
      if(data.user_updated == true){
        $('input[name=passwordConfirmed]').val('');
        $('#passwordText').html('Awesome! Password updated.');
        setTimeout(function(){
          $('#passwordText').html('Make sure you have a good strong password. We recommend 8 characters or more.');
        }, 3000);
        $(prop).find('.innerSpinner').removeClass('activeSpinning');
        $(prop).prop("disabled", false);
      } else {
        $('#passwordText').html('An unknown error occurred while updating your password');
        setTimeout(function(){
          $('#passwordText').html('Make sure you have a good strong password. We recommend 8 characters or more.');
        }, 3000);
        $(prop).find('.innerSpinner').removeClass('activeSpinning');
        $(prop).prop("disabled", false);
      }
    }
  })
  })
  $(document).on('click', '#refreshKey', function(e) {
    e.preventDefault();
    $(this).find('.innerSpinner').addClass('activeSpinning');
    $(this).prop("disabled", true);
    var prop = this;

      $.ajax({
        type: 'DELETE',
        url: 'https://api.id.m6.nz/api/v1/keys/' + $("#email").val(),
        headers: {
            "Authorization": "Bearer <%= @current_user[:api_key] %>" 
        },
        success: function (data) {
            $(prop).find('.innerSpinner').removeClass('activeSpinning');
            $(prop).prop("disabled", false);
            $('#logoutButton').click();
        }
      })
    })
</script>
